<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">
  <display-name>test-war-log4j_1.1.3</display-name>
  <listener>
    <listener-class>com.google.cloud.runtime.jetty.tests.webapp.Log4jInit</listener-class>
  </listener>
  <servlet>
    <servlet-name>LoggingServlet</servlet-name>
    <servlet-class>com.google.cloud.runtime.jetty.tests.webapp.LoggingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoggingServlet</servlet-name>
    <url-pattern>/logging</url-pattern>
  </servlet-mapping>
</web-app>
